<div class="container fixedmargin">
  <mat-card>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab>
        <!-- <mat-tab label="Counter-Strike: Global Offensive"> -->
        <ng-template mat-tab-label>
          <span class="mat-txt">Counter-Strike: Global Offensive</span>
        </ng-template>
        <a>
          <app-rules-csgo></app-rules-csgo>
        </a>
      </mat-tab>
      <mat-tab label="Tom Clancy's: Rainbow Six Siege">
        <app-rules-r6></app-rules-r6>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>