<div class="container">
    <mat-accordion>
        <mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
R6 Settings
</mat-panel-title>
</mat-expansion-panel-header>
<mat-list role="list">
<mat-list-item role="listitem">
  5 vs 5
</mat-list-item>
<mat-list-item role="listitem">
    Playlist Type: Normal Mode
</mat-list-item>
<mat-list-item role="listitem">
    Voice Chat: Team Only
</mat-list-item>
<mat-list-item role="listitem">
    Time of the Day: Day
</mat-list-item>
<mat-list-item role="listitem">
    HUD Settings: Pro League
</mat-list-item>
</mat-list>
</mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Game Settings
            </mat-panel-title>
          </mat-expansion-panel-header>
            <mat-list role="list">
               <mat-list-item role="listitem">
                  Version- Operation Wind Bastion
                </mat-list-item>
               <mat-list-item role="listitem">
                  Number of Bans: 4
                </mat-list-item>
               <mat-list-item role="listitem">
                  Ban Timer: 20
                </mat-list-item>
              <mat-list-item role="listitem">
                  Number of Rounds: 10
                  </mat-list-item>
              <mat-list-item role="listitem">
                  Attacker/Defender Role swap: 5
                    </mat-list-item>
              <mat-list-item role="listitem">
                  Overtime Rounds: 3
                      </mat-list-item>
              <mat-list-item role="listitem">
                  Overtime Score Difference: 2
                        </mat-list-item>
              <mat-list-item role="listitem">
                  Overtime Role Change: 1
                          </mat-list-item>
              <mat-list-item role="listitem">
                  Objective Rotation Parameter: 2
                            </mat-list-item>
              <mat-list-item role="listitem">
                  Objective Type Rotation: Rounds Played
                              </mat-list-item>
              <mat-list-item role="listitem">
                  Attacker Unique Spawn: On
                </mat-list-item>
              <mat-list-item role="listitem">
                  Pick Phase Timer: 15
                  </mat-list-item>
              <mat-list-item role="listitem">
                  6TH Pick Phase: On
              </mat-list-item>
              <mat-list-item role="listitem">
                  6TH Pick Phase Timer: 15
                </mat-list-item>
                <mat-list-item role="listitem">
                    Reveal Phase Timer: 5
                  </mat-list-item>
                  <mat-list-item role="listitem">
                      Damage Handicap: 100
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        Friendly Fire Damage: 100
                      </mat-list-item>
                      <mat-list-item role="listitem">
                          Injured: 20
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            Sprint: On
                          </mat-list-item>
                          <mat-list-item role="listitem">
                              Lean: On
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                Death Replay: Off
                              </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Map Pool
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list">
              <mat-list-item role="listitem">
                  Bank
              </mat-list-item>
              <mat-list-item role="listitem">
                    Border
              </mat-list-item>
              <mat-list-item role="listitem">
                      Club House
              </mat-list-item>
              <mat-list-item role="listitem">
                        Consulate
              </mat-list-item>
              <mat-list-item role="listitem">
                          Coastline
              </mat-list-item>
              <mat-list-item role="listitem">
                            Oregon
              </mat-list-item>
              <mat-list-item role="listitem">
                              Villa
               </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Game Mode
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-list role="list">
                 <mat-list-item role="listitem">
                    MODE: TDM BOMB
                  </mat-list-item>
                 <mat-list-item role="listitem">
                    Plant Duration: 7
                  </mat-list-item>
                 <mat-list-item role="listitem">
                    Defuse Duration: 7
                  </mat-list-item>
                <mat-list-item role="listitem">
                    Fuse Time: 45
                    </mat-list-item>
                <mat-list-item role="listitem">
                    Defuse Carrier Selection: On
                      </mat-list-item>
                <mat-list-item role="listitem">
                    Action Phase Duration: 180
                        </mat-list-item>
              </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Operators
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list">
              <mat-list-item role="listitem">
                  Except Lion ,Mozzie & Gridlock all other Operators are Allowed
              </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
</mat-accordion>
      
</div>