<mat-sidenav-container class="example-container">
        <mat-sidenav mode="push" #sidenav>
          <mat-nav-list>
          <mat-list-item>
              <img src="../../assets/Logo.png" class="brand-img"height="70px" width="60px"/>
              <div class="brand-text" (click)="gotohome()">Think India</div>
          </mat-list-item>
          <hr class="style13">
          <mat-list-item 
          routerLink="/home" 
          routerLinkActive="activated-pr" 
          [routerLinkActiveOptions]="{
            exact: true
          }"
          (click)="sidenav.toggle()">
            <a>
              Home
            </a>
          </mat-list-item>
          <mat-list-item 
          routerLink="/register" 
          (click)="sidenav.toggle()" 
          routerLinkActive="activated-pr">
                Register
            </mat-list-item>
            <mat-list-item 
            routerLink="/pay" 
            (click)="sidenav.toggle()" 
            routerLinkActive="activated-pr">
                <a>
                  Payment
                </a>
              </mat-list-item>
            <mat-list-item 
            routerLink="/rules" 
            (click)="sidenav.toggle()" 
            routerLinkActive="activated-pr">
                <a>
                  Match Rules
                </a>
              </mat-list-item>
              </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary" class="fixedTop">
              <mat-icon (click)="sidenav.toggle()" class="d-sm-none">menu</mat-icon>
                <img class="logoText" src="../../assets/Logo.png" height="70px" width="60px" (click)="gotohome()">
                <span class="logoText" (click)="gotohome()">Think India</span>
                <span class="toolbar-fill"></span>
                <span class=" d-none d-sm-block">
                  <button 
                  mat-button 
                  routerLink="/home"
                  class="btn-tool" 
                  [routerLinkActiveOptions]="{
                    exact: true
                  }"
                  routerLinkActive="activated-bl">
                    Home
                  </button>
                  <button mat-button routerLink="/register" class="btn-tool" routerLinkActive="activated-bl">
                      Register
                    </button>
                    <button mat-button routerLink="/pay" class="btn-tool" routerLinkActive="activated-bl">
                        Payment
                    </button>
                    <button mat-button routerLink="/rules" class="btn-tool" routerLinkActive="activated-bl">
                        Match Rules
                      </button>
                </span>
              </mat-toolbar>
                <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    
    

