<div class="container fixedmargin">
  <div class="cardGroup">
    <div class="card-deck" >
        <div class="card shadow bg-white rounded" (click)="onClick('600')" >
          <img src="assets/payment/csgo.jpg" class="card-img-top" alt="csgo" height="400px" width="300px">
          <div class="card-body">
            <h5 class="card-title">Counter-Strike: Global Offensive</h5>
          </div>
        </div>
        <div class="card shadow bg-white rounded" (click)="onClick('600')">
          <img src="assets/payment/r6.jpg" class="card-img-top" alt="r6" height="400px" width="300px">
          <div class="card-body">
            <h5 class="card-title">Tom Clancy's Rainbow Six Siege</h5>
          </div>
          </div>
        </div>
      </div>
</div>