mat-list-item{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
mat-panel-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
.info{
    margin-top: 1vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}