<div class="container">
    <mat-accordion>
        <mat-expansion-panel >
<mat-expansion-panel-header>    
<mat-panel-title>
    Map Pool 
</mat-panel-title>
</mat-expansion-panel-header>
<mat-list role="list">
<mat-list-item role="listitem">
    Train
</mat-list-item>
<mat-list-item role="listitem">
    Inferno
</mat-list-item>
<mat-list-item role="listitem">
    Nuke
</mat-list-item>
<mat-list-item role="listitem">
    Mirage
</mat-list-item>
<mat-list-item role="listitem">
    Cache
</mat-list-item>
<mat-list-item role="listitem">
    Dust 2
</mat-list-item>
<mat-list-item role="listitem">
    Overpass
</mat-list-item>
</mat-list>
</mat-expansion-panel>
<mat-expansion-panel >
    <mat-expansion-panel-header>    
    <mat-panel-title>
        Game Description
    </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
    <mat-list-item role="listitem">
        5 vs 5
    </mat-list-item>
    <mat-list-item role="listitem">
        Competitive Matches (Best of 30 rounds)
    </mat-list-item>
    <mat-list-item role="listitem">
        Friendly Fire is ON
    </mat-list-item>
    <mat-list-item role="listitem">
        Team Collision is ON
    </mat-list-item>
    </mat-list>
    </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <div class="info">For more Information <a href="https://firebasestorage.googleapis.com/v0/b/tikgaming-c381c.appspot.com/o/esl5on5.cfg?alt=media&token=58e2637e-9b4d-4743-9caf-244a2087fc0a">click here</a></div>
      </mat-accordion>
      
      
</div>