 <img src="assets/homeimg/pcimg.jpg" #homeimg class="homeimg">
 <div class="gametxt">
   <p class="headtxt">Games</p>
 </div>
 <div class="container">
   <div class="games">
        <img class="gamesimg limg" src="assets/homeimg/csgo.jpeg" (click)="gotocsreg()">
        <img class="gamesimg rimg" src="assets/homeimg/minr6.jpg" (click)="gotor6reg()">
</div>
 </div>
 <div class="gametxt">
    <p class="headtxt">Sponsors</p>
 </div>
 <div class="container">
 <div class="splogocont">
   <div class="col1">
    <div class="gzlogo">
        <img class="splogogz" src="assets/sponsors/gzlogo1.jpg" (click)="gotogadetzone()"/>
      </div>
   <div class="momlogo">
     <img class="splogomom" src="assets/sponsors/momlogo.jpg" (click)="gotomom()"/>
   </div>
   </div>
   <div class="col2">
   <div class="amlogo">
     <img class="splogoam"src="assets/sponsors/amigo.jpeg" (click)="gotoamigo()"/>
   </div>
   <div class="bnlogo">
     <img class="splogobe" src="assets/sponsors/benq.png" (click)="gotobenq()"/>
   </div>
   <div class="mdlogo">
     <img class="splogomd" src="assets/sponsors/mdcomputers.png" (click)="gotomd()"/>
   </div>
  </div>
  </div>
 </div>
 <div class="gametxt">
    <p class="headtxt">Venue</p>
  </div>
 <div class="container">
   <div class="venue">
   <div class="maptxt">
    <div class="ven" (click)="gotoevolve()">
      EVOLVE GAMING
    </div>
   </div>
   <div class="map">
      <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=2nd%20floor%2CF-16%2C%20in%20between%20VEM%20school%20and%20Trident%20college%2C%20Infocity%2C%20Chandrasekharpur%2C%20Bhubaneswar%2C%20Odisha%20751024&key=AIzaSyApA4gYKexYsHsJy33ozGMx4tYyRfwBaBU" allowfullscreen></iframe>
   </div>
   </div> 
 </div>
 <div class="container">
    <div class="sptxt">
        <p></p>
      </div>
 </div>
    <div class="footer">
        <div class="container">
          <div class="row">
            <div class="contacttxt">CONTACT NO</div>
          </div>
            <div class="row">
              <div class="col-sm contacttxt">
                  Amrendra : 6387364357
              </div>
              <div class="col-sm contacttxt">
                  Aditya : 9534920358
              </div>
            </div>
          </div>
      </div>
 
 
 